@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');



*{
    scroll-behavior: smooth;
    font-family: 'Caveat', cursive;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background: rgb(240, 14, 14);
    border-radius: 5px;
}